# =========================
# BASE
# =========================

KAFKA_CLUSTER_ID=
KAFKA_UI_PORT=8070

# =========================
# MODULE 1
# =========================

CONSENT_POSTGRES_USER=
CONSENT_POSTGRES_PASSWORD=
CONSENT_POSTGRES_DB=

MONGO_USER=
MONGO_PASSWORD=

CONSENT_COMMAND_IMAGE=
CONSENT_QUERY_IMAGE=
DASHBOARD_QUERY_IMAGE=

# =========================
# MODULE 2
# =========================

USER_POSTGRES_USER=
USER_POSTGRES_PASSWORD=
USER_POSTGRES_DB=

# user-service
USER_SERVICE_IMAGE=consent-arch/user-service:1.0.0
USER_DB_USERNAME=
USER_DB_PASSWORD=

# billing-service
BILLING_SERVICE_IMAGE=consent-arch/billing-service:1.0.0
BILLING_DB_USERNAME=
BILLING_DB_PASSWORD=

# Keycloak clients
BILLING_SERVICE_CLIENT_SECRET=
USER_SERVICE_CLIENT_SECRET=

# PostgreSQL - Keycloak
KEYCLOAK_POSTGRES_USER=
KEYCLOAK_POSTGRES_PASSWORD=
KEYCLOAK_POSTGRES_DB=

# Keycloak Admin
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=
